.Topbar {
  background: white;
  position: relative;
  border-bottom: 1px solid #BCBCC2;
  border-top: 1px solid #BCBCC2;
  display: grid;
  grid-template-columns: auto 13rem 0.5rem;
}
#title {
  font-size: 1rem;
  float: left;
  vertical-align: middle;
  display: block;
  padding-top: 0.7rem;
  margin-left: 1.25rem;
  font-size: 16px;
}
.Topbar > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#avatar {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  display: inline-block;
}
#phone-book {
  margin-top: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
#top-name {
  vertical-align: middle;
  display: inline-block;
  margin-left: 1rem;
  white-space: nowrap;
}
.header-avatar{
  position: relative;
  text-align: center;
  border-left: solid 1px #BCBCC2;
}
.online{
  position: absolute;
  bottom: 7px;
  left :43px;
  border-radius: 50%;
  color: #00ff00;
  z-index: 1000;
  size: 8px;

}
.language{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.language select {
  border: 0px !important;
  background: transparent;
}